{% extends "base/base.html" %}
{% block content %}


    <h1>Lista de Proveedores</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
        </tr>
      </thead>
      <tbody>
        {% for proveedor in proveedores %}
        <tr>
          <td class="p-2">{{ proveedor.nombre }}</td>
          <td class="p-2">{{ proveedor.apellido }}</td>
          <td class="p-2">{{ proveedor.dni }}</td>
          <td>
            <form
              method="post"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="proveedor_id"
                value="{{ proveedor.id }}"
              />
               <button type="submit">Borrar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
