{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <h1>stock control</h1>
            <img src="{% static 'imagenes/imagen_stock_control1.jpg' %}" alt="" />
        </header>
        <nav>
            <a href="{% url 'listar_proveedor' %}">Listar provedores</a>
        </nav>
        <section>{% block content %}{% endblock %}</section>
    </body>
</html>